@import '../defaults/_variables'
  
nav
  width: 100%
  
  position: fixed
  top: 20px
  left: 50%
  transform: translateX(-50%)
  transition: top 0.3s
  z-index: 999999999
  .logo
    height: 55px
    margin: 0
  .content
    height: 60px
    display: flex
    justify-content: space-evenly
    align-items: center
    padding: 10px 40px
    color: white
    margin: 0 20px
    background-color: rgba(0, 0, 0, 0.7)
    border-radius: 50px
    box-shadow: 0 0 2px white


.sections, .social, .hiring-info
  display: flex
  gap: 20px
  align-items: center


.progress-bar 
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 0.08rem
    background-image: linear-gradient(to right, white, $primary)
    border-radius: 0.1rem
    animation: progressMove linear both
    animation-timeline: scroll(block root)

@keyframes progressMove 
  from 
    width: 0%
  
  to 
    width: 100%
  


@media (max-width: 680px) 
  .logo
    display: none

  nav
    .content
      margin: 0 10px
      padding: 5px

  .sections
    gap: 10px
