<div class="slider">
  <div class="slider-container">
    @for (card of cards; track $index) {
      <div class="card" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
        <h3 class="card-title">{{ card.title }}</h3>
        <img [src]="card.logo ? card.logo : 'assets/images/project logos/default.svg.png'" [alt]="card.title">
        <p class="card-desc">{{card.description}}</p>
        <div class="tags">
          <span class="tag"><a [href]="card.link" target="_blank">Github Link <i class="material-icons">open_in_new</i></a></span>
          <span class="tag" *ngIf="card.figma"><a [href]="card.figma" target="_blank">Design <i class="material-icons">open_in_new</i></a></span>
          <span class="tag" *ngIf="card.slides"><a [href]="card.slides" target="_blank">Slides <i class="material-icons">open_in_new</i></a></span>
        </div>
      </div>
    }

  </div>
  <button class="prev" (click)="moveSlide(-1)"><mat-icon>keyboard_arrow_left</mat-icon></button>
  <button class="next" (click)="moveSlide(1)"><mat-icon>keyboard_arrow_right</mat-icon></button>
</div>
