@import './app/defaults/_variables'

// _reset.sass
*
  box-sizing: border-box
  margin: 0
  padding: 0
  transition: all 0.2s linear

// _base.sass
  
body
  font-family: $font-family
  font-size: $font-size
  line-height: normal
  color: $text-primary

h1, h2, h3, h4, h5, h6
  font-weight: bold
  margin-bottom: 15px

a
  text-decoration: none
  color: $link-color
  &:hover
    text-decoration: none

p
  margin: 15px 0

.bold
  font-weight: bold

span.tag
  font-weight: bold
  font-size: 14px
  background-color: $primary
  display: inline-block
  padding: 2px 10px
  border-radius: 50px
  margin-right: 5px
  margin-bottom: 5px
  a
    display: flex
    align-items: center
    gap: 5px
    color: white

img
  max-width: 100%
  height: auto
  margin: 0 auto

// _utilities.sass
.container
  max-width: 1200px
  margin: 0 auto
  padding: 20px

.text-center
  text-align: center

.text-left
  text-align: left

.text-right
  text-align: right

.clearfix
  &:after
    content: ""
    display: table
    clear: both

.white-text-shadow
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white

.primary-text
  color: $primary

ul
  margin-left: 25px

.bg-gray
  background-color: $gray

.bg-trans-gray 
  background-color: rgba($gray, 0.5)

.margin-bottom-20px
  margin-bottom: 20px

.full-width
  width: 100%

.flex-row
  display: flex

.flex-column
  display: flex
  flex-direction: column

.relative
  position: relative

.black
  color: black

.white
  color: white

.achievements-container
  display: flex
  flex-wrap: wrap
  gap: 20px
  padding: 20px

  .achievement-box
    flex-grow: 1
    flex-basis: calc(33.33% - 20px)  /* This ensures each box takes equal width, subtracting the gap */
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    flex-wrap: wrap
    min-width: 300px
    gap: 10px
    background-color: rgba(255, 255, 255, 0.8)
    border-radius: 10px
    padding: 20px
    color: black

/* Style for the entire scrollbar */
::-webkit-scrollbar
  width: 12px
  height: 12px

::-webkit-scrollbar-track
  background-color: #f1f1f1
  border-radius: 10px

::-webkit-scrollbar-thumb
  background-color: $primary
  border-radius: 10px
  border: 2px solid #f1f1f1

::-webkit-scrollbar-thumb:hover
  background-color: darken($primary, 10%)

::-webkit-scrollbar-corner
  background-color: #f1f1f1

